{
  "openapi": "3.0.0",
  "info": {
    "title": "Weather API for Victoria, BC",
    "version": "1.0.0",
    "description": "Fetches current weather data from OpenWeatherMap for Victoria, BC, Canada"
  },
  "servers": [
    {
      "url": "https://api.openweathermap.org/data/3.0"
    }
  ],
  "paths": {
    "/onecall": {
      "get": {
        "summary": "Get current weather for Victoria, BC",
        "description": "Retrieve current weather data for Victoria, BC, Canada",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 48.4284
            },
            "description": "Latitude for Victoria, BC, Canada"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": -123.3656
            },
            "description": "Longitude for Victoria, BC, Canada"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your OpenWeatherMap API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "temp": {
                      "type": "number",
                      "description": "Temperature"
                    },
                    "wind_speed": {
                      "type": "number",
                      "description": "Wind speed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
